In [1]:
import pandas as pd
import requests

In [ ]:
-- EigenLayer 
WITH Deposits AS (
   SELECT 
        "from" AS address,
        value / 1e18 AS value_in_ether,
        evt_block_time AS deposit_time
    FROM 
        erc20_ethereum.evt_Transfer
    WHERE
        "to" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
             0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
             0x93c4b944d05dfe6df7645a86cd2206016c51564d,
             0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
             0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
             0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
             0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
             0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
             0xa4C637e0F704745D182e4D38cAb7E7485321d059,
             0xAe60d8180437b5C34bB956822ac2710972584473,
            0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
            0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
             )
    and "from" IN (0x57F9672bA603251C9C03B36cabdBBcA7Ca8Cfcf4)
),
Withdrawals AS (
   SELECT 
        "from" AS address,
        -value / 1e18 AS value_in_ether,
        evt_block_time AS withdrawal_time
    FROM 
        erc20_ethereum.evt_Transfer
    WHERE
        "from" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
             0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
             0x93c4b944d05dfe6df7645a86cd2206016c51564d,
             0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
             0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
             0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
             0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
             0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
             0xa4C637e0F704745D182e4D38cAb7E7485321d059,
             0xAe60d8180437b5C34bB956822ac2710972584473,
            0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
            0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
             )
),
TokenBalances AS (
    SELECT 
        address,
        token_symbol,
        SUM(value_in_ether) AS balance
    FROM (
        SELECT 
            "from" AS address,
            value / 1e18 AS value_in_ether,
            CASE 
                WHEN "to" = 0x54945180db7943c0ed0fee7edab2bd24620256bc THEN 'cbETH'
                WHEN "to" = 0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2 THEN 'rETH'
                WHEN "to" = 0x93c4b944d05dfe6df7645a86cd2206016c51564d THEN 'stETH'
                WHEN "to" = 0x57ba429517c3473B6d34CA9aCd56c0e735b94c02 THEN 'osETH'
                WHEN "to" = 0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6 THEN 'swETH'
                WHEN "to" = 0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff THEN 'AnkrETH'
                WHEN "to" = 0x7CA911E83dabf90C90dD3De5411a10F1A6112184 THEN 'wBETH'
                WHEN "to" = 0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d THEN 'EthX'
                WHEN "to" = 0xa4C637e0F704745D182e4D38cAb7E7485321d059 THEN 'OETH'
                WHEN "to" = 0xAe60d8180437b5C34bB956822ac2710972584473 THEN 'LSETH'
                WHEN "to" = 0x298aFB19A105D59E74658C4C334Ff360BadE6dd2 THEN 'METH'
                WHEN "to" = 0xac3E018457B222d93114458476f3E3416Abbe38F THEN 'SFRXETH'

                ELSE 'Unknown'
            END AS token_symbol
        FROM 
            erc20_ethereum.evt_Transfer
        WHERE
            "to" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
                 0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
                 0x93c4b944d05dfe6df7645a86cd2206016c51564d,
                 0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
                 0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
                 0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
                 0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
                 0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
                 0xa4C637e0F704745D182e4D38cAb7E7485321d059,
                 0xAe60d8180437b5C34bB956822ac2710972584473,
                0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
                0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
                 )
        UNION ALL
        SELECT 
            "from" AS address,
            -value / 1e18 AS value_in_ether,
            CASE 
                WHEN "from" = 0x54945180db7943c0ed0fee7edab2bd24620256bc THEN 'cbETH'
                WHEN "from" = 0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2 THEN 'rETH'
                WHEN "from" = 0x93c4b944d05dfe6df7645a86cd2206016c51564d THEN 'stETH'
                WHEN "from" = 0x57ba429517c3473B6d34CA9aCd56c0e735b94c02 THEN 'osETH'
                WHEN "from" = 0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6 THEN 'swETH'
                WHEN "from" = 0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff THEN 'AnkrETH'
                WHEN "from" = 0x7CA911E83dabf90C90dD3De5411a10F1A6112184 THEN 'wBETH'
                WHEN "from" = 0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d THEN 'EthX'
                WHEN "from" = 0xa4C637e0F704745D182e4D38cAb7E7485321d059 THEN 'OETH'
                WHEN "from" = 0xAe60d8180437b5C34bB956822ac2710972584473 THEN 'LSETH'
                WHEN "from" = 0x298aFB19A105D59E74658C4C334Ff360BadE6dd2 THEN 'METH'
                WHEN "from" = 0xac3E018457B222d93114458476f3E3416Abbe38F THEN 'SFRXETH'
                ELSE 'Unknown'
            END AS token_symbol
        FROM 
            erc20_ethereum.evt_Transfer
        WHERE
            "from" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
                 0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
                 0x93c4b944d05dfe6df7645a86cd2206016c51564d,
                 0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
                 0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
                 0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
                 0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
                 0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
                 0xa4C637e0F704745D182e4D38cAb7E7485321d059,
                 0xAe60d8180437b5C34bB956822ac2710972584473,
                0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
                0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
                 )
    ) AS Transactions
    GROUP BY address, token_symbol
),
RestakedPoints AS (
    SELECT
        d.address,
        SUM(d.value_in_ether * ((EXTRACT(DAY FROM COALESCE(w.end_time, CURRENT_DATE) - d.deposit_time) * 24) + EXTRACT(HOUR FROM COALESCE(w.end_time, CURRENT_DATE) - d.deposit_time))) AS restaked_points,
        SUM(d.value_in_ether + COALESCE(w.value_in_ether, 0)) AS total_value
    FROM Deposits d
    LEFT JOIN (
        SELECT 
            address, 
            MIN(withdrawal_time) AS end_time,
            SUM(value_in_ether) AS value_in_ether
        FROM Withdrawals
        GROUP BY address
    ) w ON d.address = w.address
    GROUP BY d.address
),
TotalPoints AS (
     SELECT 
        SUM(restaked_points) AS total_points
    FROM RestakedPoints
)
SELECT 
    RANK() OVER (ORDER BY rp.restaked_points DESC) AS wallet_rank,
    rp.address,
    round(rp.restaked_points, 5)                          AS restaked_points,
    (rp.restaked_points / tp.total_points)                AS share_of_total_points,
    --cast(round((rp.restaked_points / tp.total_points) * 100, 5) AS VARCHAR) || ' %' AS share_of_total_points,
    round(rp.total_value, 5)                              AS total_value_eth,
    round(tb.cbETH, 5)                                    AS cbETH,
    round(tb.rETH, 5)                                     AS rETH,
    round(tb.stETH, 5)                                    AS stETH,
    round(tb.osETH, 5)                                    AS osETH,
    round(tb.swETH, 5)                                    AS swETH,
    round(tb.AnkrETH, 5)                                  AS AnkrETH,
    round(tb.wBETH, 5)                                    AS wBETH,
    round(tb.EthX, 5)                                     AS EthX,
    round(tb.OETH, 5)                                     AS OETH,
    round(tb.LSETH, 5)                                    AS LSETH,
    round(tb.METH, 5)                                     AS METH,
    round(tb.SFRXETH, 5)                                  AS SFRXETH
FROM RestakedPoints rp
CROSS JOIN TotalPoints tp
LEFT JOIN (
    SELECT
        address,
        MAX(CASE WHEN token_symbol = 'cbETH' THEN balance ELSE 0 END) AS cbETH,
        MAX(CASE WHEN token_symbol = 'rETH' THEN balance ELSE 0 END) AS rETH,
        MAX(CASE WHEN token_symbol = 'stETH' THEN balance ELSE 0 END) AS stETH,
        MAX(CASE WHEN token_symbol = 'osETH' THEN balance ELSE 0 END) AS osETH,
        MAX(CASE WHEN token_symbol = 'swETH' THEN balance ELSE 0 END) AS swETH,
        MAX(CASE WHEN token_symbol = 'AnkrETH' THEN balance ELSE 0 END) AS AnkrETH,
        MAX(CASE WHEN token_symbol = 'wBETH' THEN balance ELSE 0 END) AS wBETH,
        MAX(CASE WHEN token_symbol = 'EthX' THEN balance ELSE 0 END) AS EthX,
        MAX(CASE WHEN token_symbol = 'OETH' THEN balance ELSE 0 END) AS OETH,
        MAX(CASE WHEN token_symbol = 'LSETH' THEN balance ELSE 0 END) AS LSETH,
        MAX(CASE WHEN token_symbol = 'METH' THEN balance ELSE 0 END) AS METH,
        MAX(CASE WHEN token_symbol = 'SFRXETH' THEN balance ELSE 0 END) AS SFRXETH
    FROM TokenBalances
    GROUP BY address
) tb ON rp.address = tb.address

In [ ]:
-- EigenLayer 
WITH Deposits AS (
   SELECT 
        "from" AS address,
        value / 1e18 AS value_in_ether,
        evt_block_time AS deposit_time
    FROM 
        erc20_ethereum.evt_Transfer
    WHERE
        "to" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
             0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
             0x93c4b944d05dfe6df7645a86cd2206016c51564d,
             0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
             0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
             0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
             0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
             0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
             0xa4C637e0F704745D182e4D38cAb7E7485321d059,
             0xAe60d8180437b5C34bB956822ac2710972584473,
            0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
            0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
             )
    and "from" IN (0x57F9672bA603251C9C03B36cabdBBcA7Ca8Cfcf4)
),
Withdrawals AS (
   SELECT 
        "from" AS address,
        -value / 1e18 AS value_in_ether,
        evt_block_time AS withdrawal_time
    FROM 
        erc20_ethereum.evt_Transfer
    WHERE
        "from" IN (0x54945180db7943c0ed0fee7edab2bd24620256bc,
             0x1bee69b7dfffa4e2d53c2a2df135c388ad25dcd2,
             0x93c4b944d05dfe6df7645a86cd2206016c51564d,
             0x57ba429517c3473B6d34CA9aCd56c0e735b94c02,
             0x0Fe4F44beE93503346A3Ac9EE5A26b130a5796d6,
             0x13760F50a9d7377e4F20CB8CF9e4c26586c658ff,
             0x7CA911E83dabf90C90dD3De5411a10F1A6112184,
             0x9d7eD45EE2E8FC5482fa2428f15C971e6369011d,
             0xa4C637e0F704745D182e4D38cAb7E7485321d059,
             0xAe60d8180437b5C34bB956822ac2710972584473,
            0x298aFB19A105D59E74658C4C334Ff360BadE6dd2,
            0x8CA7A5d6f3acd3A7A8bC468a8CD0FB14B6BD28b6
             ),
with transactions as (
    select * from withdrawls
    union all
    select * from deposits),

select * from transactions

In [2]:
# write api request https://api.dune.com/api/v1/query/3430251/results?api_key=<api_key>

In [7]:
2500/11

227.27272727272728

In [8]:
api_key = 'd2DGjLBGkwIvBNH5tyqUkMnTLxfEaEXB'
url = 'https://api.dune.com/api/v1/query/3430571/results?api_key=' + api_key
response = requests.get(url)
response.json()

{'execution_id': '01HQ7E0YAQ9C674A6H75P0YG59',
 'query_id': 3430571,
 'is_execution_finished': True,
 'state': 'QUERY_STATE_COMPLETED',
 'submitted_at': '2024-02-22T03:33:54.136317Z',
 'expires_at': '2024-05-22T03:34:10.253541Z',
 'execution_started_at': '2024-02-22T03:33:54.619658Z',
 'execution_ended_at': '2024-02-22T03:34:10.25354Z',
 'result': {'rows': [{'address': '0xd0ee89d82183d7ddaef14c6b4fc0aa742f426355',
    'restaked_points': 2237.885090825587,
    'staked_now': 6.10604376107872},
   {'address': '0x814cc6b8fd2555845541fb843f37418b05977d8d',
    'restaked_points': 12558.6634824763,
    'staked_now': 33.849405914544185},
   {'address': '0xfe715358368416e01d3a961d3a037b7359735d5e',
    'restaked_points': 1174.3864844910565,
    'staked_now': 3.0035459961408097},
   {'address': '0x4878f636a9aa314b776ac51a25021c44caf86bed',
    'restaked_points': 2733.7427425333985,
    'staked_now': 8.974859955498987},
   {'address': '0x90e80e25abdb6205b08deba29a87f7eb039023c2',
    'restaked_points': 4085.7529491934597,
    'staked_now': 11.229834196281718},
   {'address': '0xa9f8c770661bee8df2d026edb1cb6ff763c780ff',
    'restaked_points': 261.625425335449,
    'staked_now': 0.6691187348732711},
   {'address': '0x295234b7e370a5db2d2447aca83bc7448f151161',
    'restaked_points': 65.83931266441566,
    'staked_now': 0.168386988911549},
   {'address': '0xc4181dc7bb31453c4a48689ce0cbe975e495321c',
    'restaked_points': 41269.28253278091,
    'staked_now': 108.79119207289627},
   {'address': '0x1aa53bc4beb82adf7f5edee9e3bbf3434ad59f12',
    'restaked_points': 12805.715670192165,
    'staked_now': 33.064473395392326},
   {'address': '0x6e17a8b5d33e6dbdb9fc61d758bf554b6ad93322',
    'restaked_points': 76.41399289268492,
    'staked_now': 0.19543220688666219},
   {'address': '0xc0660932c5dcad4a1409b7975d147203b1e9a2b6',
    'restaked_points': 68.37118940447695,
    'staked_now': 0.17486237699354718},
   {'address': '0x36b429439ab227fab170a4dfb3321741c8815e55',
    'restaked_points': 1404.6711603001781,
    'staked_now': 3.5925093613815298}],
  'metadata': {'column_names': ['address', 'restaked_points', 'staked_now'],
   'row_count': 12,
   'result_set_bytes': 981,
   'total_row_count': 12,
   'total_result_set_bytes': 981,
   'datapoint_count': 36,
   'pending_time_millis': 483,
   'execution_time_millis': 15633}}}

In [9]:
points_total = sum([x['restaked_points'] for x in response.json()['result']['rows']])
points_total

78742.35003309009

In [12]:
73.07382 / 0.053260801331691449

1372.0000107568665

In [17]:
0.053260801331691449 * (57 * 24 + 14 )

73.60642744039758

In [13]:
73.5990 / 0.053260801331691449

1381.8605458383677

In [ ]:
# https://api.dune.com/api/v1/query/3453333/results?api_key=<api_key>

In [15]:
api_key = 'd2DGjLBGkwIvBNH5tyqUkMnTLxfEaEXB'
url = 'https://api.dune.com/api/v1/query/3453535/results?api_key=' + api_key
response = requests.get(url)
response.json()

{'execution_id': '01HQ5JN952MCHMQ55A3NX6D6AM',
 'query_id': 3453535,
 'is_execution_finished': True,
 'state': 'QUERY_STATE_COMPLETED',
 'submitted_at': '2024-02-21T10:16:26.019584Z',
 'expires_at': '2024-05-21T10:17:19.073498Z',
 'execution_started_at': '2024-02-21T10:16:26.048005Z',
 'execution_ended_at': '2024-02-21T10:17:19.073496Z',
 'result': {'rows': [{'amount_staked': 192,
    'eigenpod': '0x54ad433d2423457ae05a2d0becf49487c4492440',
    'restaked_points': 119616,
    'validators': 6}],
  'metadata': {'column_names': ['eigenpod',
    'amount_staked',
    'validators',
    'restaked_points'],
   'row_count': 1,
   'result_set_bytes': 106,
   'total_row_count': 1,
   'total_result_set_bytes': 106,
   'datapoint_count': 4,
   'pending_time_millis': 28,
   'execution_time_millis': 53025}}}

In [14]:
16640 / 32 / 24

21.666666666666668